.MyTask{
    height: 822px;
    background-image: url(/img/MyTasck-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        @include textStyle(700, 32px, 33px);
        font-family: 'Syncopate';

        color: #E4CFCF;
        text-shadow: 2px 1px 0px rgba(226,13,13,0.5);

        text-align: center;

        padding-top: 28px;
        margin-bottom: 25px;

        
               
    }

    .one{
        width: 301.06px;
        height: 147.37px;      
        // background: rgba(175, 37, 37, 0.63);
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // transform: matrix(0.92, -0.4, 0.46, 0.89, 0, 0);

        background: linear-gradient(165.55deg, #DAAFAF 16.79%, #E60000 52.79%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: matrix(0.92, -0.4, 0.46, 0.89, 0, 0);      

        h1{
            @include textStyle(700, 182px, 211px);
            font-family: 'Sen';
            
            color: #1E0202;
            
            border: 2px solid rgba(145, 7, 7, 0.38);          
        }

        p{
            @include textStyle(700, 15px, 18px);
            color: #000000;
        }
    }

    .two{
        h1{
            font-family: 'Hind Siliguri';
            // @include textStyle(700, 180px, 217px);
            color: #F0C9C9;
           

            border: 3px solid rgba(172, 137, 137, 0.34);  
            text-shadow: 2px 0px 0px rgba(172,137,137,0.34);        
        }
        
        h3{
            color: #FFF9F9;
            @include textStyle(700, 15px, 18px);
        }

        p{
            @include textStyle(400, 12px, 14px);
            color: #FFFFFF;

        }
    }

    .three{
        h1{
            font-family: 'Sen';
            @include textStyle(700, 180px, 217px); 
            color: #FB0909;

            border: 3px solid rgba(81, 3, 3, 0.44);           
        }
    }
}

