.MyTask{
    height: 945.13px;
    background-image: url(/img/Rectangle\ 35.png);
    background-repeat: no-repeat;

    .h1{
       padding-left: 76px;
       color: #E4CFCF;
       text-shadow: 2px 1px 0px rgba(226,13,13,0.5);
       font-weight: 700;
       font-size: 57px;
       line-height: 59px; 
       font-family: 'Syncopate'; 
       width: 653px;
       height: 60px;
    }
    .one{
        position: absolute; 
        top: 86px;
        left: 128px; 
    }

    .two{
        position: absolute; 
        top: 300px;
        left: 245px;         
    }
}